
<style>
        .box{
            text-align: center;
            text-transform: uppercase;
            width: 100px;
            padding: 10px;
            margin: 10px;
            color: yellowgreen;
        }
        #CSE13{
            text-align: center;
            text-transform: lowercase;
            width: 100px;
            padding: 10px;
            margin: 10px;
            color: yellowgreen;
             }     
</style>