body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.nav {
    
    background-color: grey;
    height: 100px;
    width: 1500px;
    padding: 20px;
    margin: 50px 0;
    text-align: center;
    align-content: center;
}

.inline-block a{
    display: inline-block;
    background-color: lightblue;
    
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    align-content: center;
}

.float-menu a{
    float: left;
    background-color: lightgreen;
    
    padding: 10px ;
    margin: 5px;
    height: 50px;
    width: 100px;
    align-content: center;
    
}

