p {
    text-align: justify;
    font-family: '', serif;
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px teal,
                 0 0 10px teal,
                 0 0 20px teal,
                 0 0 40px teal,
                 0 0 80px teal;
}